/* Inicio estilo.css */
@charset "UTF-8";
@font-face{
	font-family: 'Gotham Bold';
	src: url("../font/gotham-bold.otf");
}
@font-face{
	font-family: 'Gotham Book';
	src: url("../font/gotham-book.otf");
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans|Roboto:400,900');
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: none;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
}
body{

}
a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-decoration: none;
	color: #686868;
}
ul{
	list-style: none;
}
img{
	max-width: 100%;
}
/* ============== HEADER ============== */
#header{
	width: 100%;
	background: rgba(255, 255, 255, 0.9);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}
.logo{
	margin: 26px 0px;
}
.btn-menu-mobile{
	display: none;
	width: 55px;
	height: 55px;
	border-radius: 55px;
	justify-content: center;
	background: #DE8F75;
	position: absolute;
	top: 2vh;
	right: 3vh;
}
.menu-mobile{
	display: none;
	
	height: 70vh;

	justify-content: center;
	align-content: center;
	
	
	position: absolute;

	top: 0;
	
	width: 100%;
	background: #fff;

	z-index: 1;

    border: 1px solid #F2F2F2;
    border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.menu-mobile ul{
	border: 0px solid red;
}
.menu-mobile ul li{
    text-align: center;
    cursor: pointer;
    width: 70vw;
    height: 5vh;
    margin-top: 10vh;

    border: 0px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-mobile ul li a{
	font-family: 'Gotham Book', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: #686868;
}

.menu-mobile ul li:hover{
	border: 2px solid #DE8F75;
	border-radius: 3px; 
}
.header-content{
	width: 100%;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.login{
	display: flex;
	align-items: center;
	padding-left: 3vw;
	border: 0px solid red;
}
.menu{
    display: flex;
    justify-content: center;

    border: 0px solid red;
}
.busca{
	width: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1vh;
	border: 0px solid red;
}
.header__content__log-deslog{ /* Links Logar/deslogar */
    width: 147px;
	height: 36px;

	display: flex;
	align-items: center;
}
.header__content__log-deslog a+a:before{
	content: "\00a0|\00a0";
}
/* MENU */

.menu ul{
    
    display: flex;
    flex-wrap: wrap;

}
.menu ul li{
	height: 50px;
}
.menu ul li:nth-child(1){
	width: 129px;
}
.menu ul li:nth-child(2){
	width: 109px;
}
.menu ul li:nth-child(3){
	width: 145px;
}
.menu ul li:nth-child(4){
	width: 79px;
}
.header__content__menu__botao{
	width: 100%;
    height: 100%;
	border: none;
    outline: none;
    font-family: 'Gotham Book', sans-serif;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #686868;
    background-color: inherit;
    cursor: pointer;
    transition: 0.5s;
}
.menu ul li:hover .header__content__menu__submenu{
    display: flex;
}
.menu ul li:hover .header__content__menu__botao {
    background-color: #EBEBEB;
    opacity: 0.7; 
}
.header__content__menu__submenu {
    display: none;
    justify-content: center;
    
    position: fixed;

    left: 0;
    background-color: #ffffff;
    
    width: 100%;
    height: 367px;
    min-width: 1280px;
	max-width: 1920px;

    z-index: 1;
    margin-top: 1px;

    border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.header__content__menu__submenu__sapatos{
	position: absolute;
	width: 964px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.header__content__menu__submenu__sapatos div{
	width: 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.header__content__menu__submenu__sapatos p{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #DE8F75; 
}
.header__content__menu__submenu__sapatos svg path{
    fill: #AEB6C1;
}
.header__content__menu__submenu__sapatos svg:hover path{
    fill: #DE8F75;
}
.header__content__menu__submenu__bolsas,
.header__content__menu__submenu__acessorios{
	width: 1280px;
	height: 100%;
	position: relative;
}
#chart{
    position: absolute;
    left: 447px;
    top: calc(50% - 285px/2 - 8px); 
    width: 3px;
    height: 285px;
}
#chart line {
    stroke: #C4C4C4; 
    stroke-width:2;
    stroke-linecap: round;
}
.header__content__menu__submenu__bolsas ul{
	position: absolute;
	width: 154px;
	height: 186px;
	left: 472px;
	top: calc(50% - 186px/2 - 33.5px);
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;  
}
.header__content__menu__submenu__acessorios ul{
	position: absolute;
	width: 171px;
	height: 261px;
	left: 472px;
	top: calc(50% - 261px/2 + 4px);
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.header__content__menu__submenu__bolsas ul li,
.header__content__menu__submenu__acessorios ul li{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  font-size: 14px;
  color: #DE8F75;
}
.header__content__menu__submenu__bolsas img,
.header__content__menu__submenu__acessorios img{
    position: absolute;
    right: 40px;
    top: 33px;  
}
.bolsas__letras{
    position: absolute;
    width: 376px;
    height: 285px;
    left: 40px;
    top: calc(50% - 376px/2 - 3.5px); 
}
.letras{
    width: 164px;
    height: 164px;
    position: absolute;
    top: 82px;
    right: 10px;
}
.letras2{
    width: 209px;
    height: 245px;
    position: absolute;
    top: 32px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.letras svg{
  width: 180px;
  height: 60px;
}
.letras2 svg{
  width: 210px;
  height: 250px;
}
.t1{
  stroke: #2A5A75;
  stroke-width: 2px;
  fill: #E0DA9C;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  text-align: right;
}
.t2{
  stroke: #BDC4CC;
  stroke-width: 2px;
  fill: #ffffff;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  text-align: right;
}
.bolsas__letras button{
    width: 160px;
    height: 42px;
    position: absolute;
    top: 284px;
    right: 0px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #DE8F75;
    background: #ffffff;
    border: 2px solid #DE8F75;
    box-sizing: border-box;
    border-radius: 3px;
}

.busca input{
	width: 75px;
    height: 36px;
    border: 0;
    border-bottom: 1px solid rgba(104, 104, 104, 0.4);
    font-size: 16px;
    
    background-image: url('../icon/lupa.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;

    font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #686868;
	transition: 0.5s;
	padding: 0px 0px 0px 40px;
}
.busca input:focus{
	width: 85px;
	transition: 0.5s;
	padding: 0px;
	background: #ffffff;
}
.header__content__bag{
	width: 53px;
	height: 50px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__content__bag__icon{
	display: flex;
	justify-content: center;
	align-items: center;

	padding-right: 3vw; 
}
.header__content__bag__icon img{
	cursor: pointer;
}
.header__content__bag__icon span{
	font-family: 'Gotham Book', sans-serif;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	color: #686868;
}
/* Modal Bag */
.modal2 {
	display: none;
	z-index: 1;
	width: 527px;
	height: 702px;
	position: absolute;
	right: 0;
	top: 0;
	overflow: auto;
	background-color: #ffffff;

	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
   	
   	-webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close2{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0px;
	top: 0px;
	background: #5F75AA;
	transition: 0.3s;
	z-index: 2;

	border-bottom-left-radius: 4px;
}
.close2 img{
	position: absolute;
	top: 22.84%;
	right: 20.83%;
	bottom: 20.83%;
	left: 22.83%;
}
.close2:hover,
.close2:focus {
	cursor: pointer;
	opacity: 0.7;
}
.lista-produto{
	position: absolute;
	height: 440px;
	width: 523px;
	left: 0%;
	right: 0%;
	top: 84px;
	overflow: auto;
}
.produto{
	position: absolute;
	height: 84px;
	left: 5.71%;
	right: 10.48%;
}
.prod-img{
	position: absolute;
	width: 64px;
	height: 83px;
	left: 0px;
	top: calc(50% - 83px/2 - 0.5px);
}
.xizin{
	position: absolute;
	right: 0px;
	top: calc(50% - 16px/2 - 1px);
}
.produto p{
	position: absolute;
	width: 154px;
	height: 40px;
	left: 84px;
	top: calc(50% - 40px/2);
}
.produto form{
	position: absolute;
	width: 150px;
	height: 34.44px;
	left: calc(50% - 136px/2 + 90px);
	top: calc(50% - 34.44px/2 + 0.22px);
	border: 2px solid #E3E3E3;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: flex; 
	justify-content: space-between;
}
.produto form input{
	text-align: center;
	line-height: normal;
	border: 0;
}
.produto form input:nth-child(2){
	font-family: 'Gotham Bold', sans-serif;
	font-size: 14px;
	color: #5F75AA;
	background: #ffffff;
	width: 48px;
	height: 31px;
}
.produto form input:nth-child(1), .produto form input:nth-child(3){
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	color: #FFFFFF;
	background: #E3E3E3;
	width: 44px;
	height: 35px;
}
.produto p{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
	font-size: 12px;
	color: #202020;
}
.produto p span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}
.produto:nth-child(1){
	top: 20px;
}
.produto:nth-child(2){
	top: 124px;
}
.produto:nth-child(3){
	top: 228px;
}
.produto:nth-child(4){
	top: 332px;
}
.produto:nth-child(5){
	top: 436px;
}
.modal2 header{
	position: relative;
	height: 83px;
}
.modal2 header h2{
	position: absolute;
	top: 20px;
	left: 7.62%;
	margin: 0;
	font-family: 'Gotham Book', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 37px;
	font-size: 26px;
	text-transform: uppercase;
	color: #DE8F75;
}
.modal2 header span{
	position: absolute;
	top: 51px;
	left: 7.62%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 29px;
	font-size: 18px;
	color: #AEB6C1;
}
.modal2 header svg{ 
	position: absolute;
	left: 3.81%;
	bottom: 2px;
}  
.modal2 header svg line{
	stroke: #E3E3E3; 
	stroke-width:1;
}
.modal2 footer{
	position: absolute;
	width: 100%;
	height: 140px;
	top: 560px;
	border: 0px solid red;
}
.modal2 footer div:nth-child(1){
	position: absolute;
	width: 100%;
	height: 50px;
	background: #AEB6C1;
	font-style: normal;
	color: #FFFFFF;
}
.modal2 footer div:nth-child(1) span:nth-child(1){
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	position: absolute;
	top: 14px;
	left: 92px;
}
.modal2 footer div:nth-child(1) span:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 14px;
	left: 280px;
}
.modal2 footer div:nth-child(2){
	position: absolute;
	top: 50px;
	width: 100%;
	height: 90px;
	background: #E3E3E3;
}
.modal2 footer div:nth-child(2) p:nth-child(1){
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-weight: bold;
	line-height: 23px;
	font-size: 16px;
	color: #000000;
	margin: 0;
	position: absolute;
	top: 25px;
	left: 31px;
}
.modal2 footer div:nth-child(2) p:nth-child(1) span{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #000000;	
}
.modal2 footer div:nth-child(2) button:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 236px;
	height: 42px;
	background: #32917B;
	border: 0;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 249px;
}/* Fim Modal Bag */



/* Parte para arrumar */

/* Bolsas */





/* Linha */



/*final menu.css */


/*
.header__content__menu{
	flex:0 1 50%;
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header__content__menu__item{
	width: 100px;
	height: 25px;
	font-family: 'Gotham Book';
	line-height: 20px;
	font-size: 14pt;
	text-transform: uppercase;
	color: #686868;
	margin: 5px;
}
*/

/* Breadcrumbs */
.breadcrumb{
	width: 154px;
	height: 38px;
	
	display: flex;
	align-items: center;
	padding-left: 3.5vw;
}
.breadcrumb a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	color: #AEB6C1;
}
.breadcrumb a+a:before{
    color: #AEB6C1;
    font-size: 12px;
    content: "\00a0\00a0/\00a0\00a0";
}
.breadcrumb a:last-child{
	font-weight: bold;
}
/* Fim */
.corpo-content1{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	 
}
.corpo-content2{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.foto{
	display: flex;
}
.info-produto{
	border: 2px solid #D2E1DF;
	box-sizing: border-box;
	border-radius: 3px;
	max-width: 444px;
	padding: 20px;
}

/* Foto */
.foto__row{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}
.foto__row__column{
  padding: 9px 64px 0px 40px;
}
.foto__row__column__video{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto__row__column__video span{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #DE8F75;
}
/* Botões cima e baixo */
.foto__row__column__cima,
.foto__row__column__baixo {
  cursor: pointer;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}
.foto__row__column__cima{
  padding: 0px 0px 20px 0px;
}
.foto__row__column__baixo{
   padding: 20px 0px 0px 0px;
}
.demo {
  opacity: 0.6;
}
.cursor {
  cursor: pointer;
}
.active,
.demo:hover {
  opacity: 1;
}
.mySlides {
  display: none;
}
/* Texto de indicação da foto */
.mySlides__slide{
cursor: default;
display:block;
position:relative;
}
.mySlides__slide:hover span{
opacity:1;
}
.mySlides__slide__legenda{
display:block;
position:absolute;
bottom: 10px;
left: 30%;
opacity:0;
text-shadow: 1px 1px 1px #000000;
background-color: rgba(0,0,0,.3);
background-size: 20px;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #ffffff;
padding: 5px 10px;
}
/* Fim foto */

/* Info-produto */
.tamanhos{
	border:0px solid red;
	display: flex;
	flex-direction: column;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 53px;
}
.content__bola{
	position: relative;
	cursor: pointer;
}
.content__bola figcaption{
	position: absolute;
	top: 22%;
	left: 24%;
	font-family: 'Gotham Book', sans-serif;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	color: #2A5A75;
}
#fig5{
	font-family: 'Gotham Bold', sans-serif;
}
.preco 
span+span:before{
	content: " | ";
} 
.nomeproduto span+span:before{
	content: " | ";
}
.botao{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFFFFF;
	width: 100%;
	height: 60px;
	border: 0;
	background-color: #32917B;
	border-radius: 3px;
}
.tamanhos__botao{
	border:0px solid red;
	padding-bottom: 15px;
}
.tamanhos__texto{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #202020;
}
.tamanhos__tamanho-guia{
	display: flex;
	justify-content: space-between;
	padding-bottom: 11px;
	border:0px solid red;

}
.tamanhos__tamanho-guia a{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	text-align: right;
	text-decoration-line: underline;
	color: #DE8F75;
}
.tamanhos__tamanho-guia, .cores__nome, .content__bola, span figcaption{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #202020;
}
.descproduto{
	color: #202020;
	padding-bottom: 16px;

	border:0px solid red;
}
.descproduto h2{
	font-family: Gotham Bold, sans-serif;
	line-height: 37px;
	font-size: 26px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.descproduto span{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
}
.preco{
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 34px;

	border:0px solid red;
}
.preco__old{
	line-height: 23px;
	font-size: 14px;
	text-decoration-line: line-through;
	color: #E35442;
}
.preco__new{
	font-family: Gotham Bold, sans-serif;
	line-height: 28px;
	font-size: 20px;
	color: #686868;
	font-weight: bold;
}
.preco__parcela{
	line-height: 20px;
	font-size: 12px;
	color: #7F7F7F;
}
.cores{
	border:0px solid red;
	padding-bottom: 27px; 
}
.cores__nome{
	padding-bottom: 7px;
}

/* Seleção de cor nos circulos coloridos */
.cores__circulo{
	width: 140px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;	
}
.cores__circulo img{
	position: absolute;
	cursor: pointer;
}
.cores__circulo__maior{
	opacity: 0;
}
.cores__circulo__maior:nth-child(1) {
	left: 0px;
}
.cores__circulo__menor:nth-child(2) {
	left: 5px;
}
.cores__circulo__maior:nth-child(3){
	left: 35px;
}
.cores__circulo__menor:nth-child(4) {
	left: 40px;
}
.cores__circulo__maior:nth-child(5){
	left: 70px;
}
.cores__circulo__menor:nth-child(6) {
	left: 75px;
}
.cores__circulo__maior:nth-child(7){
	left: 105px;
}
.cores__circulo__menor:nth-child(8) {
	left: 110px;
}		
/* Fim Info-procuto */

/* Inicio modal.css */
/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(32,32,32,0.6);
}
/* Modal Content */
.modal-content {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
    
   margin: auto;
   position: relative;
   width: 445px;
   height: 602px;
   background-color: #ffffff;
   max-width: 700px;

   border: 1px solid #F2F2F2;
   box-sizing: border-box;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

   -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.5s;
    animation-name: zoom;
    animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.modal-content h2{
    font-family: Gotham Bold, sans-serif;
    line-height: 31px;
    font-size: 22px;
    text-align: left;
    text-transform: uppercase;
    color: #DE8F75;
    margin: 0px;
}
.modal-content button{
    width: 290px;
    height: 50px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    border: 0;
    background-color: #32917B;
    border-radius: 3px;
}
.modal-content a{
    font-family: Gotham Book, sans-serif;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-decoration-line: underline;
    color: #AEB6C1;
}
/* Image */
.modal__content__img{
    width: 290px;
    height: 374px;
    padding: 36px 0px 0px 0px;
}
.modal__content__h2{
    width: 290px;
    display: flex;
    align-items: flex-start;
}
.modal__content__link{
    width: 290px;
    height: 36px;
    padding: 0px 0px 23px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.close {
    position: absolute;
    top: 16px;
    left: 408px;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    cursor: pointer;
    opacity: 0.7;
}
/* Fim modal.css */
/* Pratileira */

/* Recipiente de apresentação de slides */
.pratileira {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 104px;

    border:0px solid red;
}

.pratileira-titulo{
	padding-bottom: 17px;
}
.pratileira-titulo h2{
	font-family: 'Gotham Book', sans-serif;
	font-style: normal;
    font-weight: normal;
	line-height: 37px;
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
	color: #DE8F75;
	padding: 0;
	margin: 0;
}
.mySlides2 {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shelf{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    border:0px solid red;
}
.shelf-controls{
    width: 160px;
    height: 36px;

    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Animação de desvanecimento */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .7} 
    to {opacity: 1}
}


.shelf-iten{
    position: relative;
    width: 291px;
    height: 403px;
}
.shelf-iten img:nth-child(1){
    position: absolute;
    top: 2.98%;
    right: 3.18%;
    z-index: 1;
}
.shelf-iten img:nth-child(1):hover{
    opacity: 0.6;
    cursor: pointer;
}

.shelf-iten img:nth-child(2){
    position: absolute;
    top: 0%;
    left: 0%;
}
.shelf-iten p:nth-child(3){
    position: absolute;
    left: 0.22%;
    bottom: 0%;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 26px;
	font-size: 16px;

	color: #202020;

}
.shelf-iten svg{
    position: absolute;
    bottom: 1.29%; 
}
.shelf-iten svg:nth-child(4){
    right: 20.22%;
}
.shelf-iten svg:nth-child(5){
   right: 13.48%;
}
.shelf-iten svg:nth-child(6){
   right: 6.74%;
}
.shelf-iten svg:nth-child(7){
   right: 0%;
}

.prev, .next {
cursor: pointer;
transition: 0.6s ease;
user-select: none;
-webkit-user-select: none;
}
.prev{
  
}
.next {
   
}
.numbertext {
    font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	text-align: center;
	color: #2A5A75;
}


#footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	border: 0px solid red;

	margin-top: 190px;
}
.footer__parte-cima{
	
	width: 100%; 
	
	border-top: 2px solid #AEB6C1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.footer__parte-cima__icons{
	width: 249px;
	height: 137px;
	margin: 22px;
	position: relative;

	border: 0px solid red;
}

.footer__parte-cima__icons img:nth-child(1){
	position: absolute;
	right: 165.67px;
	top: 0px;
}
.footer__parte-cima__icons img:nth-child(2){
	position: absolute;
	right: 111.67px;
	top: 0px;
}
.footer__parte-cima__icons img:nth-child(3){
	position: absolute;
	right: 56.67px;
	top: 0px;
}
.footer__parte-cima__icons img:nth-child(4){
	position: absolute;
	right: 85.67px;
	top: 76px;
}
.footer__parte-cima__icons img:nth-child(5){
	position: absolute;
	right: -0.33px;
	top: 76px;
}
.footer__parte-cima__links{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 0px solid red;
	pointer-events: none;
}

.footer__parte-cima__links div{

	display: flex;
	flex-direction: column;
}
.footer__parte-cima__links div:nth-child(1){
	width: 145px;
}
.footer__parte-cima__links div:nth-child(2){
	width: 185px;
}
.footer__parte-cima__links div:nth-child(3){
	width: 185px;
}
.footer__parte-cima__links h3{
	font-family: 'Gotham Bold', sans-serif;
	line-height: 17px;
	font-size: 12px;
	text-transform: uppercase;
	color: #AEB6C1;
	margin: 0;
	padding: 0;
}
.expandi{
	display: none;
	width: 12px;
	height: 12px;
	fill: #AEB6C1;
}
.footer__parte-cima__links a{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 42px;
	font-size: 14px;
	color: #202020;
}
.footer__parte-cima__ass-new{
	width: 294px;
	height: 293px;
	z-index: 1;
	position: relative;
	top:-104px;
	border: 0px solid black;
}

.footer__parte-cima__ass-new svg{
	position: absolute;

}
.footer__parte-cima__ass-new h2{
	position: absolute;
	width: 217px;
	height: 36px;
	left: 37px;
	top: 39px;

	font-family: 'Gotham Bold', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;

	color: #202020;

	border: 0px solid black;
	margin: 0;
	padding: 0;

}
.footer__parte-cima__ass-new form{
	width: 216px;
	height: 174px;
	position: absolute;
	left: 11.75%;
	right: 21.44%;
	top: 29.01%;
	bottom: 11.6%;

	border: 0px solid black;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.footer__parte-cima__ass-new form label{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	color: rgba(32, 32, 32, 0.5);

	margin: 0;
	padding: 0;
}
.footer__parte-cima__ass-new form input[type=text]{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	color: #202020;
	background: none;
	border: 0;
	border-bottom: 2px solid #AEB6C1;

	margin: 0;
	padding: 0;
}
.ass-new__lnome{
	width: 216px;
	height: 14px;
	position: absolute;
	top: 0px;
}
.ass-new__Inome{
	width: 216px;
	height: 28px;
	position: absolute;
	top: 12px;
}
.ass-new__Iemail{
	width: 216px;
	height: 28px;
	position: absolute;
	top: 66px;
}
.ass-new__Ienviar{
	width: 110px;
	height: 50px;
	position: absolute;
	top: 122px;
	left: 53px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #DE8F75;
	border: 0px;
	border-radius: 3px;
}
.footer__faixa-baixo{
	width: 100%;
	background: #DE8F75;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	

	
}
.footer__faixa-baixo p{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	color: #FFFFFF;

	border: 0px solid red;
}
.footer__faixa-baixo img{
	
	border: 0px solid red;

	


}
