@charset "UTF-8";
.foto{
  display: flex;
}
.foto__row{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}
.foto__row__column{
  padding: 9px 64px 0px 40px;
}
.foto__row__column__video{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto__row__column__video span{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #DE8F75;
}
/* Botões cima e baixo */
.foto__row__column__cima,
.foto__row__column__baixo {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.foto__row__column__cima{
  padding: 0px 0px 20px 0px;
}
.foto__row__column__baixo{
   padding: 20px 0px 0px 0px;
}
.demo {
  opacity: 0.6;
}
.cursor {
  cursor: pointer;
}
.active,
.demo:hover {
  opacity: 1;
}
.mySlides {
  display: none;
}
/* Texto de indicação da foto */
.mySlides__slide{
cursor: default;
display:block;
position:relative;
}
.mySlides__slide:hover span{
opacity:1;
}
.mySlides__slide__legenda{
display:block;
position:absolute;
bottom: 10px;
left: 30%;
opacity:0;
text-shadow: 1px 1px 1px #000000;
background-color: rgba(0,0,0,.3);
background-size: 20px;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #ffffff;
padding: 5px 10px;
}