@charset "UTF-8";

		.tamanhos{
			width: 367px;
		}
		.content{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 0px 53px 0px;
		}
		.content__bola{
			position: relative;
			cursor: pointer;
		}
		.content__bola figcaption{
			position: absolute;
			top: 25%;
			left: 25%;
		}
		figure{
			padding: 0px;
			margin: 0px;
		}
		figure img{
			width: 34px;
			height: 34px;
		}
		.preco 
		span+span:before{
			content: " | ";
		} 
		.nomeproduto span+span:before{
			content: " | ";
		}
		.botao{
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			line-height: 29px;
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
			color: #FFFFFF;
			width: 405px;
			height: 60px;
			border: 0;
			background-color: #32917B;
			border-radius: 3px;
		}
		.tamanhos__botao{
			width: 420px;
			height: 75px;
		}
		.tamanhos__texto{
			width: 405px;
			height: 60px;
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			color: #202020;
		}
		.tamanhos__tamanho-guia{
			display: flex;
			justify-content: space-between;
			padding: 20px 0px 11px 0px;
		}
		.tamanhos__tamanho-guia a{
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			line-height: 23px;
			font-size: 14px;
			text-align: right;
			text-decoration-line: underline;
			color: #DE8F75;
		}
		.tamanhos__tamanho-guia, .cores__nome, .content__bola, span figcaption{
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			color: #202020;
		}
		.descproduto{
			color: #202020;
			padding: 0px 0px 16px 0px;
		}
		.descproduto h2{
			font-family: Gotham Bold, sans-serif;
			line-height: 37px;
			font-size: 26px;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
		.descproduto span{
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			line-height: 23px;
			font-size: 14px;
		}
		.preco{
			font-family: Open Sans, sans-serif;
			font-style: normal;
			font-weight: normal;
			padding: 0px 0px 34px 0px;
		}
		.preco__old{
			line-height: 23px;
			font-size: 14px;
			text-decoration-line: line-through;
			color: #E35442;
		}
		.preco__new{
			font-family: Gotham Bold, sans-serif;
			line-height: 28px;
			font-size: 20px;
			color: #686868;
			font-weight: bold;
		}
		.preco__parcela{
			line-height: 20px;
			font-size: 12px;
			color: #7F7F7F;
		}
		.cores__nome{
			padding: 0px 0px 7px 0px;
		}

		/* Seleção de cor nos circulos coloridos */
		.cores__circulo{
			width: 140px;
			height: 35px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			position: relative;	
		}
		.cores__circulo img{
			position: absolute;
			cursor: pointer;
		}
		.cores__circulo__maior{
			opacity: 0;
		}
		.cores__circulo__maior:nth-child(1) {
			left: 0px;
		}
		.cores__circulo__menor:nth-child(2) {
			left: 5px;
		}
		.cores__circulo__maior:nth-child(3){
			left: 35px;
		}
		.cores__circulo__menor:nth-child(4) {
			left: 40px;
		}
		.cores__circulo__maior:nth-child(5){
			left: 70px;
		}
		.cores__circulo__menor:nth-child(6) {
			left: 75px;
		}
		.cores__circulo__maior:nth-child(7){
			left: 105px;
		}
		.cores__circulo__menor:nth-child(8) {
			left: 110px;
		}

		.info-produto{
			width: 445px;
			height: 535px;
			background: #FFFFFF;
			border: 2px solid #D2E1DF;
			box-sizing: border-box;
			border-radius: 3px;
			padding: 20px 20px 20px 20px;
		}
