.menu {/*  Div Pai */
    overflow: hidden;
    background-color: #ffffff; 
}
.menu__sub { /* Div com todo conteudo de cada item do menu */
    float: left;
    overflow: hidden;
}
.menu__sub__botao { /* formatação dos itens do menu */
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Gotham Book, sans-serif;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #686868;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}
.menu__sub:hover .menu__sub__botao {
    background-color: #EBEBEB;
    opacity: 0.7; 
}
.menu__sub__content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;  
}
.menu__sub:hover .menu__sub__content {
    display: block;
}
/* Meu estilo */


/* CSS Sapatos */
.menu__sub__content__sapatos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 964px;
  height: 357px;
}
.menu__sub__content__sapatos div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__sub__content__sapatos div div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu__sub__content__sapatos svg{
    width: 120px;
    fill: none;
    margin: 0px 40px;   
}
.menu__sub__content__sapatos p{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #DE8F75; 
}
.menu__sub__content__sapatos__baixo svg{
    height: 45px;
}
.menu__sub__content__sapatos__alto svg{
    height: 90px;
}
.menu__sub__content__sapatos svg path{
    fill: #AEB6C1;
}
.menu__sub__content__sapatos svg:hover path{
    fill: #DE8F75;
}
/* Classe para centralizar os items no menu aberto */
.menu__sub__content__centro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
/* Bolsas */
.menu__sub__content__bolsas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 367px;
}
.menu__sub__content__bolsas img{
    position: absolute;
    left: 853px;
    right: 40px;
    top: 33px;
    bottom: 32px;
}

.menu__sub__content__bolsas ul{
  position: absolute;
  width: 154px;
  height: 186px;
  left: 472px;
  top: calc(50% - 186px/2 - 33.5px);

  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}
.menu__sub__content__bolsas ul li{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  font-size: 14px;
  color: #DE8F75;
}

.bolsas__letras{
    position: absolute;
    width: 376px;
    height: 285px;
    left: 40px;
    right: 955px;
    top: calc(50% - 376px/2 - 3.5px);
}
.letras{
    width: 164px;
    height: 164px;
    position: absolute;
    top: 82px;
    right: 10px;
}
.letras2{
    width: 209px;
    height: 245px;
    position: absolute;
    top: 32px;
    right: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.bolsas__letras button{
    width: 160px;
    height: 42px;
    position: absolute;
    top: 284px;
    right: 0px;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #DE8F75;
    background: #ffffff;
   
    
    border: 2px solid #DE8F75;
    box-sizing: border-box;
    border-radius: 3px;
}

.letras svg{
  width: 180px;
  height: 60px;
}
.letras2 svg{
  width: 210px;
  height: 250px;
}
.t1{
  stroke: #2A5A75;
  stroke-width: 2px;
  fill: #E0DA9C;
  font-family: 'FonteBatD', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  text-align: right;
}
.t2{
  stroke: #BDC4CC;
  stroke-width: 2px;
  fill: #ffffff;
  font-family: 'FonteBatD', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  text-align: right;

}
/* Linha */
#chart{
    position: absolute;
    left: 447px;
    top: calc(50% - 285px/2 - 8px); 
    width: 3px;
    height: 285px;
}
#chart line {
    stroke: #C4C4C4; 
    stroke-width:2;
    stroke-linecap: round;
  }

