@charset "UTF-8";
@media screen and (max-width: 768px) {
    .corpo-content1{
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }
    .footer__parte-cima{
    	flex-direction: column;
    }
	.footer__parte-cima__icons{
		order: 3;
	}
	.footer__parte-cima__links{
		order: 2;
		width: 80vw;
		
	}
	.footer__parte-cima__ass-new{
		order: 1;
	}
	.foto{
		margin-bottom: 20px;
	}
	

 }
 @media screen and (max-width: 425px) {
 	#header{
 		align-items: flex-start;
 	}
 	.logo{
 		padding-left: 3vw;
 	}
 	.btn-menu-mobile{
		display: flex;
	}
 	.menu{
 		display: none;
 	}
 	.login{
		width: 50vw;
		order: 1;
	}
	.menu{
		order: 3;
	}
	.busca{
		width: 50vw;
		order: 2;
	}
	.footer__parte-cima__links{
		width: 40vw;
		pointer-events: auto;
	}
	.footer__parte-cima__links div:nth-child(1){
		width: 185px;
	}

	.footer__parte-cima__links div div{
		display: none;
	}
	.expandi{
		display: inline-block;
	}
	.footer__parte-cima__links div div{
		
	}

	.footer__parte-cima__links div h3{
		height: 40px;
		
		border-top: 2px solid #AEB6C1;
		border-bottom: 2px solid #AEB6C1;
		margin-bottom: 5px;
		padding: 7px;
		opacity: .7;
	}
	.footer__parte-cima__links div h3:hover{
		opacity: 1;
	}
	.footer__parte-cima__links div h3 svg{
		padding-top: 2px;
		float: right;

	}
	.content{
		width: 50vw;
		align-self: center;
	}
	.foto{
		margin-right: 10px;
	}
	.footer__faixa-baixo img{
		padding-top: 10px;
	}
	.footer__faixa-baixo{
		padding: 10px;
	}
 }
  @media screen and (max-width: 320px) {
 	
	.content{
		width: 60vw;

	}
	
 }