@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans|Roboto:400,900');
@font-face{
	font-family: 'FonteBatD';
	src: url("font/gotham-bold.otf");
}
@font-face{
	font-family: 'FonteBatK';
	src: url("font/gotham-book.otf");
}


	.modal2 {
	    display: none;
	    z-index: 1;
	    width: 526px;
		height: 701px;
		position: fixed;
	    right: 0;
	    top: 0;
	    overflow: auto;
	    background-color: #ffffff;

		border: 1px solid #F2F2F2;
		box-sizing: border-box;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
	}
	/* The close2 Button */
	.close2{
		position: absolute;
		width: 40px;
		height: 40px;
		right: 0px;
		top: 0px;
		background: #5F75AA;
		transition: 0.3s;
		z-index: 2;

		border-bottom-left-radius: 4px;
	}
	.close2 img{
		position: absolute;
		top: 22.84%;
		right: 20.83%;
		bottom: 20.83%;
		left: 22.83%;
	}
	.close2:hover,
	.close2:focus {
	    cursor: pointer;
	    opacity: 0.7;
	}
	.lista-produto{
		position: absolute;
		height: 440px;
		width: 523px;
		left: 0%;
		right: 0%;
		top: 84px;
		overflow: auto;
	}
	.produto{
		position: absolute;
		height: 84px;
		left: 5.71%;
		right: 10.48%;
	}
	.prod-img{
		position: absolute;
		width: 64px;
		height: 83px;
		left: 0px;
		top: calc(50% - 83px/2 - 0.5px);
	}
	.xizin{
		position: absolute;
		right: 0px;
		top: calc(50% - 16px/2 - 1px);
	}
	.produto p{
		position: absolute;
		width: 154px;
		height: 40px;
		left: 84px;
		top: calc(50% - 40px/2);
	}
	.produto form{
		position: absolute;
		width: 150px;
		height: 34.44px;
		left: calc(50% - 136px/2 + 90px);
		top: calc(50% - 34.44px/2 + 0.22px);
		border: 2px solid #E3E3E3;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		display: flex; 
		justify-content: space-between;
	}
	.produto form input{
		text-align: center;
		line-height: normal;
		border: 0;
	}
	.produto form input:nth-child(2){
		font-family: 'FonteBatD', sans-serif;
		font-size: 14px;
		color: #5F75AA;
		background: #ffffff;
		width: 48px;
		height: 31px;
	}
	.produto form input:nth-child(1), .produto form input:nth-child(3){
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 20px;
		color: #FFFFFF;
		background: #E3E3E3;
		width: 44px;
		height: 35px;
	}
	.produto p{
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		font-style: normal;
		line-height: 20px;
		font-size: 12px;
		color: #202020;
	}
	.produto p span{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 14px;
		color: #000000;
	}
	.produto:nth-child(1){
		top: 20px;
	}
	.produto:nth-child(2){
		top: 124px;
	}
	.produto:nth-child(3){
		top: 228px;
	}
	.produto:nth-child(4){
		top: 332px;
	}
	.produto:nth-child(5){
		top: 436px;
	}

.modal2 header{
	position: relative;
	height: 83px;
}
.modal2 header h2{
	position: absolute;
	top: 20px;
	left: 7.62%;
	margin: 0;

	font-family: 'FonteBatK', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 37px;
	font-size: 26px;
	text-transform: uppercase;
	color: #DE8F75;
}
.modal2 header span{
	position: absolute;
	top: 51px;
	left: 7.62%;
	
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 29px;
	font-size: 18px;

	color: #AEB6C1;
}
.modal2 header svg{ 
    position: absolute;
    left: 3.81%;
    bottom: 2px;
}  
.modal2 header svg line{
    stroke: #E3E3E3; 
    stroke-width:1;
}

.modal2 footer{
	position: absolute;
	width: 100%;
	height: 140px;
	top: 560px;
	border: 0px solid red;
}
.modal2 footer div:nth-child(1){
	position: absolute;
	width: 100%;
	height: 50px;
	background: #AEB6C1;
	font-style: normal;
	color: #FFFFFF;
	
}
.modal2 footer div:nth-child(1) span:nth-child(1){
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 23px;
	font-size: 14px;
	position: absolute;
	top: 14px;
	left: 92px;
}
.modal2 footer div:nth-child(1) span:nth-child(2){
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	line-height: 20px;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 14px;
	left: 280px;
}

.modal2 footer div:nth-child(2){
	position: absolute;
	top: 50px;
	width: 100%;
	height: 90px;
	background: #E3E3E3;

}
.modal2 footer div:nth-child(2) p:nth-child(1){
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-weight: bold;
	line-height: 23px;
	font-size: 16px;
	color: #000000;

	margin: 0;
	position: absolute;
	top: 25px;
	left: 31px;
}
.modal2 footer div:nth-child(2) p:nth-child(1) span{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
	color: #000000;	
}
.modal2 footer div:nth-child(2) button:nth-child(2){
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;

	width: 236px;
	height: 42px;
	background: #32917B;
	border: 0;
	border-radius: 3px;

	position: absolute;
	top: 25px;
	left: 249px;
}